/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
@font-face {
    font-family: 'Estedad';
    src: url("fonts/Estedad.ttf");
}
:root {
    /*--maincolor: #DA2F37;*/
    /*--maincolor: rgba(218, 47, 55, 1);*/
    --maincolor: rebeccapurple;
    --SecondMaincolor: #000;
    --MainBorder: 1px solid #ffffff1a;
    --LightParagraphs: #fff;
    --LightShapes: #f5f5f5;
    --LightSections: #fff;
    --TenPercentWhite: #ffffff1a;
    --TenPercentBlack: #0000001a;
    --SixtyPercentWhite: rgb(256 , 256 , 256 , 0.6);
    --DarkParagraphs: #000;
    --DarkShapes: #000;
    --SiteBackgroundColor: #ebebeb;
}
body {
    direction: rtl;
    font-family: 'Estedad';
    background: var(--SiteBackgroundColor);
}
a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/* container: */
.container {
    width: 1200px;
    margin: auto;
}
/* FLEX: */
.flex{
    display: flex;
}
.space-btw{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
/* SVGs: */
.irancast-header > svg,
.irancast-subscribe .each-subscribe .each-subscribe-header{
    fill: var(--SecondMaincolor);
}
.season-category .episodes svg>path:nth-child(2),
.season-category .seasons svg>path:nth-child(2),
.light-shape-bg,
.remaining-time svg path:nth-child(2),
.financial-support svg path:nth-child(2),
.irancast-favorite .left-section svg path:nth-child(2),
.irancast-subscribe .each-subscribe .light-shape-bg path:nth-child(2)
{
    fill: var(--LightShapes);
}
.irancast-banner>.shape-parent>svg,
.irancast-new-episodes .container .background-svg path,
.right-section svg path,
.irancast-premium .container>svg path
{
    fill: var(--maincolor);
}
svg {
    /*fill: var(--maincolor);*/
    /*fill: red;*/
}
/* Horizental Line: */
.h-line{
    height: 1px;
    width: 100%;
    background-color: var(--TenPercentBlack);
}
/* indedex header: */
.irancast-header{
    position: relative;
}
.irancast-header .header-content-top {
    width: 100%;
    height: 40%;
    padding-top: 20px;
}
.irancast-header .header-content-both{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.irancast-header .header-content-top .logo-text{
    gap: 16px;
    flex-grow: 1;
}
.irancast-header .header-content-top .logo-text p {
    color: var(--LightParagraphs);
    opacity: 0.7;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* سه نقطه آخر متن */
}
.irancast-header .header-between-sections-svg {
    width: 100%;
}
.irancast-header .header-content-top .left-top-header{
    gap: 16px;
    align-items: stretch
}
.irancast-header .header-content-top .left-top-header button i {
    font-size: 16px;
}
.irancast-header .header-content-top .header-search-button{
    box-shadow: 2px 2px 9px -1px var(--maincolor);
}
.irancast-header .header-content-top .header-search-button i {
    font-size: 22px !important;
}
.irancast-header .header-content-top .header-search-section {
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}
.irancast-header .header-content-top .header-search-section:hover {
    border-bottom: 1px solid rgb(256,256,256,0.5);
}
.irancast-header .header-content-top .header-search-section input[type="text"] {
    background: var(--SecondMaincolor);
    padding: 0 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
     width: 0px;
    color: var(--LightParagraphs);
}
.irancast-header .header-content-top .header-search-section:hover input[type="text"] {
    width: unset;
    /*display: block;*/
}
.irancast-header .header-content-top .header-search-section input[type="text"]:focus {
    background-color: var(--TenPercentWhite);
    border: none;
    outline: none;
    width: unset;
}
.irancast-header .header-content-top button {
    font-family: Estedad;
    padding: 8px 12px;
    font-weight: bold;
    background-color: var(--maincolor);
    border-radius: 10px;
    color: var(--LightParagraphs);
    border: var(--MainBorder);
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}
.irancast-header .left-top-header .user-account-button{
    background-color: var(--TenPercentWhite);
    gap: 16px;
}
.irancast-header .left-top-header .user-account-div{
    position: relative;
}
.irancast-header .left-top-header .user-account-detail-header {
    position: absolute;
    top: 140%;
    padding: 12px;
    border-radius: 10px;
    width: 215px;
    background-color: var(--LightParagraphs);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 5;

    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.irancast-header .left-top-header .user-account-detail-header .user-img{
    position: relative;
}
.irancast-header .left-top-header .user-account-detail-header .user-img::after {
    content: "";
    position: absolute;
    z-index: 40;
    width: 25px;
    height: 17px;
    top: 32%;
    right: 15px;
    box-shadow: -3px 1px 34px 12px black;
    z-index: -1;
}
.user-account-div:hover .user-account-detail-header {
    visibility: visible;
    opacity: 1;
    top: 120%;
}

.irancast-header .left-top-header .user-account-detail-header::after {
    content: "";
    position: absolute;
    width: 215px;
    height: 22px;
    top: -20px;
    right: 0;
}
.irancast-header .left-top-header .user-account-button .header-user-detail{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #ffffff1a;
    top: 100%;
}
.irancast-header .left-top-header .user-account-detail-header .user-detail{
    display: flex;
    gap: 12px;
}
.irancast-header .left-top-header .user-account-detail-header .user-detail h3{
    font-size: 14px;
}
.irancast-header .left-top-header .user-account-detail-header .user-detail span {
    font-size: 12px;
    line-height: 32px;
    opacity: 0.7;
}
.irancast-header .left-top-header .user-account-detail-header .user-detail img{
    max-width: 56px;
    max-height: 56px;
}
.left-top-header .user-account-detail-header .woo-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.left-top-header .user-account-detail-header .woo-section a,
.left-top-header .user-account-detail-header .exit a{
    font-size: 14px;
    color: var(--DarkParagraphs);
    opacity: 0.7;
}
.left-top-header .user-account-detail-header .exit a{
    display: block;
    opacity: 0.3;
}
.left-top-header .user-account-detail-header .woo-section a:hover{
    opacity: 1;
}
.left-top-header .user-account-detail-header .exit a:hover,
.left-top-header .user-account-detail-header .exit a:hover i{
    color: #f02020;
    opacity: 1;
}
.left-top-header .user-account-detail-header .woo-section a:hover i
{
    color: var(--maincolor);
    opacity: 1;
}
.left-top-header .user-account-detail-header .woo-section a i,
.left-top-header .user-account-detail-header .exit a i {
    padding-left: 7px;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}
/* bottom header section: */

.irancast-header .header-content-bottom{
    width: 100%;
    height: 45%;
}
.irancast-header .header-content-bottom .container {
    height: 100%;
    padding-bottom: 20px;
}
.irancast-header .header-content-bottom .container>ul {
    list-style: none;
    display: flex;
    gap: 32px;
}
.irancast-header .header-content-bottom .container>ul>li {
    position: relative;
}
.irancast-header .header-content-bottom .container>ul>li a {
    color: var(--LightParagraphs);
    display: flex;
    gap: 8px;
    align-items: center;
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.irancast-header .header-content-bottom .container>ul>li>a>i{
    transition: all 0.2s ease-in-out;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ffffff00;
}
.irancast-header .header-content-bottom .container>ul>li:hover>a{
    opacity: 1;
}
.irancast-header .header-content-bottom .container>ul>li:hover i {
    background: var(--maincolor);
    padding: 12px;
    border: var(--MainBorder);
}
.irancast-header .header-content-bottom .container>ul>li>ul {
    position: absolute;
    right: 0;
     max-width: 1037px;
    list-style: none;
    top: 160%;
    border-radius: 24px;
    display: flex;
    background-color: var(--LightShapes);
    border: 4px solid #ffffffa1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 50;
}
.irancast-header .header-content-bottom .container>ul>li:hover>ul {
    opacity: 1;
    visibility: visible;
    top: 140%;
}
.irancast-header .header-content-bottom .container>ul>li>ul::before {
    content: "";
    position: absolute;
    top: 0;
    padding: 10px;
    width: 100%;
    right: 0;
    top: -20px;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li {
    width: 201px;
    border-left: 1px solid var(--TenPercentBlack);
    padding: 24px;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li:last-child {
    border-left: none;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>a{
    color: #000;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>h2 {
    font-size: 16px;
    color: #000;
    display: flex;
    align-items: center;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>h2::before {
    content: "";
    background-color: var(--maincolor);
    height: 16px;
    width: 8px;
    box-shadow: 2px 2px 9px -1px var(--maincolor);
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 0 8px;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 20px;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>div>ul {
    margin-top: 9px;
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>ul>li{

}
.irancast-header .header-content-bottom .container>ul>li>ul>li>div>ul>li>a{
    padding: 3px;
    color: var(--SecondMaincolor);
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>div>ul>li>a:hover{
    opacity: 1;
    color: var(--maincolor);
}
.irancast-header .header-content-bottom .container>ul>li>ul>li>div>a{
    color: var(--maincolor);
    opacity: 1;
}
ul{
    list-style: none;
}
.irancast-header .header-content-bottom .bottom-left-header {
    gap: 10px;
}
.irancast-header .header-content-bottom .bottom-left-header p{
    color: var(--SixtyPercentWhite);
}
.irancast-header .header-content-bottom .bottom-left-header span {
    color: #fff;
}
.irancast-header .header-content-bottom .bottom-left-header i {
    color: var(--maincolor);
    padding: 11px;
    border-radius: 10px;
    background: #ffffff1a;
    border: var(--MainBorder);
}
/* start banner: */
.irancast-banner{
    margin-top: 60px;
}
.irancast-banner .shape-parent {
    position: relative;
    width: 100%;
}
.irancast-banner .banner-content {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
}
.irancast-banner .banner-content .right-section-banner{
    width: 50%;
    position: relative;
}
.irancast-banner .banner-content .left-section-banner{
}
.irancast-banner .banner-content .right-section-banner::after {
    position: absolute;
    content: "";
    padding: 181px;
    border-radius: 100%;
    top: 50%;
    background-color: #fff;
    right: 45%;
    transform: translate(50%, -50%);
}
.irancast-banner .right-section-banner img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 1;
}
.irancast-banner .shape-parent .sub-shape {
    position: absolute;
    bottom: 9px;
    left: 0px;
    z-index: 1;
    width: 20.6%;
}
.irancast-banner .banner-content .left-section-banner {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 54px 0 44px 50px;
    justify-content: space-evenly;
    align-items: flex-start;
}
.irancast-banner .banner-content .left-section-banner .podcast-title {
    padding: 4px;
    border: var(--MainBorder);
    background-color: var(--TenPercentWhite);
    border-radius: 12px;
    display: inline-flex;
    align-content: center;
    align-items: center;
}
.irancast-banner .banner-content .left-section-banner .podcast-title img{
    display: inline-block;
}
.irancast-banner .banner-content .left-section-banner .podcast-title span {
    padding: 0 8px 0 6px;
    color: var(--LightParagraphs);
}
.irancast-banner .banner-content .left-section-banner h1{
    color: var(--LightParagraphs);
}
.irancast-banner .banner-content .left-section-banner p{
    color: var(--LightParagraphs);
    opacity: 0.7;
}

/* The player styles: */
.banner-content .custom-player {
    background: var(--SecondMaincolor);
    color: var(--LightParagraphs);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 24px 66px rgba(0,0,0,0.7);
    width: 500px;
    direction: ltr;
    z-index: 5;
}
.custom-player>i {
    font-size: 10px;
    margin-right: -7px;
}
.custom-player .play-pause {
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
    color: var(--LightParagraphs);
    width: 64px;
    height: 64px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 25px;
}
.custom-player .progress-container .time .duration{
    position: absolute;
    right: 0;
    top: 14px;
}
.custom-player .progress-container .time .current{
    position: absolute;
    left: 0;
    top: 14px;
}
.custom-player .progress-container {
    flex: 1;
    height: 6px;
    background: #333;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.custom-player .progress {
    height: 100%;
    width: 0;
    background: #00ff99;
    border-radius: 3px;
    transition: width 0.1s linear;
}
.custom-player .time {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.custom-player .volume-renge-div {
    position: relative;
    width: 53px;
    transform: translateY(-100%);
    height: 5px;
}
.custom-player .volume {
    cursor: pointer;
    position: absolute;
    background: #d3d3d3;
    -webkit-appearance: none;
    border-radius: 10px;
    height: 8px;
    background: linear-gradient(to right, white 0%, #555 0%);

    width: 100%;
    top: 50%;
    right: 0;
    z-index: 3;
}
.custom-player .sub-range {
    z-index: 2;
    position: absolute;
    background-color: var(--TenPercentWhite);
    border-radius: 10px;
    width: 100%;
    height: 4px;
    top: 76%;
    right: 0;
}
.custom-player button{
    font-size: 25px;
}
.custom-player .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 4px;
    background: var(--DarkParagraphs);
    border-radius: 50%;
    cursor: pointer;
    border: none;

    outline: 2px solid #fff;
}
/* season-category section: */
.season-category {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    margin-top: 60px;
}
.season-category .seasons,
.season-category .episodes{
    width: 50%;
    position: relative;
}
.season-category .seasons .four-sesasons{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.season-category .seasons .four-sesasons .each-season {
    width: 49%;
    max-height: 70px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    gap: 12px;
    background-color: #ebebeb;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.season-category .seasons .four-sesasons .each-season:hover{
    background: linear-gradient(
            180deg,
            color-mix(in srgb, #fff 20%, transparent) 0%,
            #ffffff00 100%
    );
    background-color: var(--maincolor);
    box-shadow: 2px 2px 9px -1px var(--maincolor);
}
.season-category .seasons .four-sesasons .each-season:hover h3{
    color: var(--LightParagraphs);
}
.season-category .seasons .four-sesasons .each-season:hover .episode-count{
    color: var(--LightParagraphs);
}
.season-category .seasons .four-sesasons .each-season:hover .season-num{
    background-color: var(--TenPercentWhite);
    color: var(--LightParagraphs);
}
.season-category .seasons .seasons-title {
    background-color: var(--SecondMaincolor);
    width: 600px;
    height: 132px;
    position: absolute;
    top: -62px;
    right: -126px;
    border-radius: 16px;
}
.season-category .seasons .seasons-title .seasons-title-subdiv {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 30px;
    flex-direction: row-reverse;
}
.seasons-title .seasons-title-subdiv .season-title-text{
    color: var(--LightParagraphs);
}
.seasons-title .seasons-title-subdiv .season-title-text i {
    padding: 12px;
    border: var(--MainBorder);
    background: var(--TenPercentWhite);
    border-radius: 8px;
}
.seasons-title .seasons-title-subdiv .season-title-text h2 {
    display: inline-block;
    margin-right: 8px;
}
.seasons-title .seasons-title-subdiv img{
    position: absolute;
    bottom: 0px;
    right: 0;
}
.seasons-title .seasons-title-subdiv .season-title-text h2 span{
    color: var(--maincolor);
}
.seasons-title .seasons-title-subdiv .season-title-text p{
    opacity: 0.7;
}
.season-category .seasons .subshape {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 94px 32px 32px 32px;
    top: 0;
    right: 0;
}
.season-category .seasons .four-sesasons .each-season>span {
    padding: 8px 17px;
    color: var(--maincolor);
    font-weight: bold;
    background-color: var(--LightSections);
    border: var(--MainBorder);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.season-category .seasons .four-sesasons .each-season div{

}
.season-category .seasons .four-sesasons .each-season div span {
    color: var(--DarkParagraphs);
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    opacity: 0.7;
}
.season-category .seasons .four-sesasons .each-season div h3 {
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    color: var(--DarkParagraphs);
    font-weight: 500;
}
.season-category .episodes .episodes-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 30px 32px 22px 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.season-category .episodes .side-shape{
    position: absolute;
    left: 0;
    top: 0;
    width: 24.7%;
    background-color: var(--LightShapes);
    border: var(--MainBorder);
    border-radius: 10px 10px 20px 10px;
}
.season-category .episodes>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 24.7%;
    background-color: var(--LightShapes);
    border: var(--MainBorder);
    border-radius: 10px 10px 30px 10px;
    color: var(--DarkParagraphs);
    padding: 10px 27px;
    white-space: nowrap;
}
.season-category .episodes>i{
    position: absolute;
    top: 50%;
    right: -4px;
    color: var(--maincolor);
    font-size: 20px;
}
.season-category .episodes .episodes-div .episodes-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.season-category .episodes .episodes-div .episodes-title{

}
.season-category .episodes .episodes-div .episodes-list .each-episode {
    width: 100%;
    border-radius: 16px;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
    max-height: 70px;
    align-items: center;
    align-content: center;
}
.season-category .episodes .episodes-div .episodes-list .each-episode .title {
    display: flex;
    align-items: center;
    gap: 12px;
}
.season-category .episodes .episodes-div .episodes-list .each-episode .title h4{
    font-size: 14px;
    opacity: 0.7;
    font-weight: 400;
}
.season-category .episodes .episodes-div .episodes-list .each-episode .title span{
    padding: 6px 17px;
    background-color: var(--LightSections);
    border-radius: 8px;
    color: var(--maincolor);
    font-weight: bold;
}
.season-category .episodes .episodes-div .episodes-list .each-episode .time {
    display: flex;
    gap: 16px;
    align-items: center;
}
.season-category .episodes .episodes-div .episodes-list .each-episode .time i {
    padding: 12px 15px;
    background-color: var(--LightSections);
    color: var(--maincolor);
    border-radius: 8px;
}
.season-category .episodes .episodes-div .episodes-title>i{
    padding: 12px;
    margin-left: 8px;
    border-radius: 8px;
    color: var(--maincolor);
    background: linear-gradient(
            color-mix(in srgb, var(--maincolor) 10%, transparent) 0%,
            color-mix(in srgb, var(--maincolor) 10%, transparent) 100%
    );
    border: var(--MainBorder);
}
.season-category .episodes .episodes-div .episodes-title h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: 800;
}
.season-category .episodes .episodes-div .episodes-title h3 span {
    color: var(--maincolor);
}
/* start irancast-new-episodes section */
.irancast-new-episodes {
    width: 100%;
    margin: 56px 0px 0px 0px;
    /*overflow: hidden;*/
}
.irancast-new-episodes .container{
    position: relative;
}
.irancast-new-episodes .container .background-svg {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 110%;
    border-radius: 16px;
}
.irancast-new-episodes .container .new-episodes-header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--LightParagraphs);
    padding: 21px 0px 23px 0px;
}
.irancast-new-episodes .container .new-episodes-header i {
    padding: 12px;
    border: var(--MainBorder);
    border-radius: 8px;
    background-color: var(--TenPercentWhite);
    z-index: 1;
}
.irancast-new-episodes .container .new-episodes-header h2{
    font-size: 24px;
    z-index: 1;
}
.irancast-new-episodes .container .new-episodes-header .after-h2{
    opacity: 0.7;
}
.irancast-new-episodes .container .new-episodes-header .grow-h-line{
    flex-grow: 1;
    height: 1px;
    opacity: 0.2;
    background-color: var(--LightParagraphs);
    z-index: 1;
}
.irancast-new-episodes .container .new-episodes-cards{
    display: flex;
    justify-content: space-between;
}
.irancast-new-episodes .container .new-episodes-cards .each-card {
    height: 352px;
    width: 288px;
    border-radius: 14px;
    position: relative;
    padding: 60px 12px 12px 12px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    box-shadow: 19px 10px 141px 25px var(--DarkShapes);
    z-index: -1;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.irancast-new-episodes .container .new-episodes-cards .each-card:hover::after{
    opacity: 1;
}
.irancast-new-episodes .container .new-episodes-cards .each-card>a {
    padding: 20px 26px;
    border-radius: 16px;
    position: absolute;
    bottom: 8px;
    left: 14px;
    background-color: var(--DarkShapes);
    color: var(--LightParagraphs);
    z-index: 5;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}
.irancast-new-episodes .container .new-episodes-cards .each-card:hover >a{
    background-color: var(--maincolor);
    box-shadow: 0px 0px 30px 0px var(--maincolor);
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    top: 0;
    right: 0;
    z-index: 5;
    flex-direction: column;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc {
    position: relative;
    padding: 5px 21px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
/*.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    box-shadow: 10px 10px 10px 10px black;*/
/*}*/
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc p.card-desc-p-limit{
    margin-top: 14px;
    font-weight: bold;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc p.count{
    font-size: 14px;
    color: var(--maincolor);
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc p.count::after {
    content: "";
    background-color: var(--maincolor);
    width: 4px;
    height: 15px;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    right: 0px;
    top: 9px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc .time {
    color: var(--DarkParagraphs);
    opacity: 0.5;
    gap: 8px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc i {
    margin-left: 8px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc span {
    font-size: 14px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc svg {
    position: absolute;
    right: 0;
    top: 50px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content .desc svg path{
    opacity: 0.1;
    stroke: var(--DarkParagraphs);
}
.irancast-new-episodes .container .new-episodes-cards .each-card .sub-shape {
    position: absolute;
    right: 1px;
    top: 60px;
    width: 100%;
    height: 292px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .sub-shape2 {
    position: absolute;
    right: 4px;
    top: 60px;
    width: 99%;
    height: 292px;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .sub-shape2 .sub-div-relative {
    width: 96%;
    height: 100%;
    z-index: 1;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    margin-right: 6px;
    border: 1px solid #0000001a;
}
.irancast-new-episodes .container .new-episodes-cards .each-card:hover .sub-div-relative{
    background-color: var(--DarkShapes);
}
.z-index--1{
    z-index: -1;
}
.irancast-new-episodes .container .new-episodes-cards .each-card .content img{
    clip-path: url(#new-episode-card-pic);
    width: 263px;
    height: 171px;
/* margin: auto; */
    margin-right: 50%;
    transform: translate(50%);
/* margin-top: 0px; */
}
.irancast-new-episodes .container>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 146.17px;
    background-color: var(--LightShapes);
    border: var(--MainBorder);
    border-radius: 10px 10px 30px 10px;
    color: var(--DarkParagraphs);
    padding: 10px 27px;
    white-space: nowrap;
}
/*first-advertisement section:*/
/*Guest section*/

.irancast-first-advertisement{
    margin: 76px 0px 0px 0px;
}
.irancast-first-advertisement .container {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}
.irancast-first-advertisement .container .remaining-time .remaining-title {
    position: absolute;
    width: 95%;
    height: 145px;
    border-radius: 16px;
    background-color: var(--maincolor);
    top: 0;
    right: 50%;
    transform: translate(50%,0px);
    display: flex;
    gap: 14px;
    align-items: center;
    padding-left: 20px;
}
.irancast-first-advertisement .container .remaining-time,
.irancast-first-advertisement .container .financial-support{
    position: relative;
    padding-top: 75px;
    width: 50%;
}
.irancast-first-advertisement .container .remaining-time .remaining-title h3 {
    color: var(--LightParagraphs);
    font-size: 24px;
    line-height: 32px;
}
.irancast-first-advertisement .container .remaining-time .remaining-title .time-left {
    width: 50%;
    background-color: var(--LightSections);
    border-radius: 16px;
    gap: 8px;
    display: flex;
    box-shadow: black 0px 20px 81px -15px;
    padding: 7px 8px;
}
.irancast-first-advertisement .container .remaining-time .remaining-title .time-left>div {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0,0.03);
    border-radius: 8px;
    width: 55px;
    color: var(--DarkParagraphs);
    height: 55px;
    font-weight: bold;
    align-items: center;
}
.irancast-first-advertisement .container .remaining-time .remaining-title .time-left div:last-child div{
    color: var(--maincolor);
}
.irancast-first-advertisement .container .remaining-time .remaining-title .time-left div span {
    font-size: 14px;
    font-weight: 400;
}
.irancast-first-advertisement .container .remaining-time .remaining-content {
    position: absolute;
    width: 95%;
    bottom: 22px;
    right: 50%;
    transform: translate(50%,0px);
    display: flex;
    gap: 32px;
    padding: 16px 0 0 15px;
}
.irancast-first-advertisement .container .remaining-time .remaining-content img{
    border-radius: 16px;
}
.irancast-first-advertisement .container .remaining-time .remaining-content div {
    display: flex;
    gap: 15px;
    margin-top: 23px;
}
.irancast-first-advertisement .container .remaining-time .remaining-content div h4 {
    display: inline-block;
}
.irancast-first-advertisement .container .remaining-time .remaining-content div span {
    opacity: 0.7;
}
/*Support section:*/
.financial-support .financial-title{
    position: absolute;
    top: 0;
    background: var(--SecondMaincolor);
    display: flex;
    align-items: center;
    width: 95%;
    height: 145px;
    border-radius: 16px;
    right: 50%;
    transform: translate(50%,0px);
    gap: 14px;
    color: var(--LightParagraphs);
    padding-left: 20px;
}
.financial-support .financial-title img{
    margin-bottom: 10px;
    margin-right: -1px;
}
.financial-support .financial-title div div{
    display: flex;
    gap: 8px;
}
.financial-support .financial-title div div i {
    padding: 11px 16px;
    color: var(--LightParagraphs);
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
    border-radius: 8px;
    position: relative;
}
.financial-support .financial-title div div i::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    right: 50%;
    box-shadow: 7px 8px 25px 15px var(--maincolor);
}

.financial-support .financial-title div div h3{
    font-size: 24px;
}
.financial-support .financial-title div p{
    opacity: 0.7;
    font-weight: 300;
}
.irancast-first-advertisement .container .financial-support .financial-content {
    position: absolute;
    width: 95%;
    bottom: 72px;
    right: 50%;
    transform: translate(50%,0px);
    display: flex;
    gap: 8px;
    padding: 0px 16px;
}
.irancast-first-advertisement .container .financial-support .financial-content div {
    width: 50%;
    border-radius: 16px;
    background-color: var(--TenPercentBlack);
    padding: 14px;
}
.irancast-first-advertisement .container .financial-support .financial-content div i {
    padding: 10px 14px;
    background-color: var(--LightSections);
    border-radius: 12px;
    color: var(--maincolor);
    margin-left: 12px;
}
/* irancast-favorite Section: */
.irancast-favorite{
    margin: 64px 0px 0px 0px;
}
.irancast-favorite .header {
    display: flex;
    justify-items: center;
    gap: 12px;
    align-content: center;
    align-items: center;
}
.irancast-favorite .container>.header i {
    background: rgba(256,256,256,50%);
    color: var(--maincolor);
    border-radius: 8px;
    border: var(--MainBorder);
    padding: 12px;
}
.irancast-favorite .header h2{

}
.irancast-favorite .header h2 span{
    color: var(--maincolor);
}
.irancast-favorite .header p {
    color: var(--DarkParagraphs);
    opacity: 0.7;
    margin-right: 12px;
}
.hor-line {
    height: 1px;
    flex-grow: 1;
    background-color: var(--TenPercentBlack);
}
.irancast-favorite .header p span{
    font-weight: bold;
}
.irancast-favorite .header a{
    padding: 6px 15px;
    border-radius: 8px;
    background-color: var(--LightSections);
    border: var(--MainBorder);
    color: var(--DarkParagraphs);
}
.irancast-favorite>.container>.content {
    display: flex;
    gap: 16px;
    margin-top: 37px;
    align-items: flex-start;
}
.irancast-favorite .content .right-section,
.irancast-favorite .content .left-section{
    position: relative;
    width: 50%;
}
.irancast-favorite .content .left-section{
    min-height: 304px;
}
.irancast-favorite .content .left-section>svg{
    position: absolute;
    bottom: 0;
    z-index: -5;
}
.irancast-favorite .content .left-section .header {
    padding: 28px 23px 28px 100px;
    background-color: var(--DarkShapes);
    border-radius: 16px;
    display: inline-block;
    /* position: absolute; */
    /* z-index: -2; */
}
.irancast-favorite .content .left-section .header i{
    padding: 13px 14px;
    color: var(--LightParagraphs);
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
    border-radius: 8px;
    position: relative;
}
.irancast-favorite .content .left-section .header i::after{
    content: "";
    position: absolute;
    /*z-index: -1;*/
    top: 50%;
    right: 50%;
    box-shadow: 7px 8px 25px 15px var(--maincolor);
}
.irancast-favorite .content .left-section .header h3 {
    display: inline-block;
    color: var(--LightParagraphs);
    margin-right: 8px;
}
.irancast-favorite .content .left-section .header h3 span{
    color: var(--maincolor);
}
.irancast-favorite .content .left-section .left-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 32px 24px 32px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.irancast-favorite .content .left-section .left-content>div {
    padding: 10px 14px;
    border-radius: 16px;
    background-color: var(--SiteBackgroundColor);
    display: flex;
    width: 49%;
    gap: 12px;
    align-items: center;
    height: 69px;
    transition: all 0.2s ease-in-out;
}
.irancast-favorite .content .left-section .left-content>div a {
    padding: 7px 14px;
    color: var(--maincolor);
    border-radius: 8px;
    background: var(--LightParagraphs);
}
.irancast-favorite .content .left-section .left-content>div:hover{
    box-shadow: 0px 30px 62px -17px var(--maincolor);
    background-color: var(--maincolor);
    color: var(--LightParagraphs);
}
.irancast-favorite .content .left-section .left-content>div:hover a{
    background-color: var(--TenPercentWhite);
    color: var(--LightParagraphs);
}
.irancast-favorite .content .left-section .left-content>div div {
    max-width: 80%;
    line-height: 18px;
}

.irancast-favorite .content .left-section .left-content>div div span{
    font-size: 14px;
    opacity: 0.7;
}
.irancast-favorite .content .left-section .left-content>div div p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 14px;
}
.irancast-favorite .content .right-section .custom-player {
    width: 90%;
    background-color: var(--DarkShapes);
    border-radius: 24px;
    padding: 16px;
    position: absolute;
    bottom: -43px;
    right: 50%;
    transform: translateX(50%);

    color: var(--LightParagraphs);
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 24px 66px rgba(0,0,0,0.7);
    direction: ltr;
    z-index: 5;
}
.irancast-favorite .content .right-section .custom-player>button{
    font-size: 17px;
}
.irancast-favorite .content .right-section .content {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 40px;
    align-items: center;
}
.irancast-favorite .content .right-section .content .texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--LightParagraphs);
    align-items: flex-start;
}
.irancast-favorite .content .right-section .content .texts .title {
    padding: 4px 4px 4px 7px;
    border-radius: 12px;
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
    display: flex;
    gap: 8px;
    font-size: 14px;
}
.irancast-favorite .content .right-section .content .texts h3 {
    margin-top: 5px;
    font-size: 24px;
}
.irancast-favorite .content .right-section .content .texts span{
    opacity: 0.7;
}
.irancast-favorite .content .right-section .content .texts.title img{

}
.irancast-favorite .content .right-section .content>figure{
    max-width: 20%;
    border-radius: 16px;
    overflow: hidden;
}
.irancast-favorite .content .right-section .content>figure>img{
    width: 100%;
    border-radius: 16px;
}
/* irancast-subscribe section: */
.irancast-subscribe{
    margin: 68px 0px 0px 0px;
}
.irancast-subscribe>.header{

}
.irancast-subscribe>.header .container {
    display: flex;
    align-items: center;
    gap: 6px;
}
.irancast-subscribe>.header .container i {
    background-color: #ffffff88;
    padding: 10px;
    border: var(--MainBorder);
    border-radius: 8px;
    color: var(--maincolor);
    margin-right: 20px;
}
.irancast-subscribe>.header .container h2 {
    margin-right: 4px;
}
.irancast-subscribe>.header .container h2 span {
    color: var(--maincolor);
}
.irancast-subscribe>.header .container p {
    margin-right: 18px;
}
.irancast-subscribe>.header .container .hor-line{
    margin-right: 29px;
}
.irancast-subscribe>.content{

}
.irancast-subscribe>.content .container {
    margin-top: 24px;
    padding-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.irancast-subscribe>.content .container .each-subscribe {
    position: relative;
    padding-top: 50px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    max-width: 379px;
}
.irancast-subscribe>.content .container .each-subscribe:hover{
    transform: translateY(-32px);
}
.irancast-subscribe>.content .container .each-subscribe:hover .each-subscribe-header path{
    fill: var(--maincolor);
}
.irancast-subscribe>.content .container .each-subscribe:hover .buy-link{
    background-color: var(--maincolor);
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content div{
    transition: all 0.3s ease-in-out;
    color: var(--LightParagraphs);
}
.irancast-subscribe>.content .container .each-subscribe:hover .each-card-header-content div{
    color: var(--DarkParagraphs);
}
.irancast-subscribe>.content .container .each-subscribe:hover .each-card-header-content div p span{
    color: var(--LightParagraphs);
}
.irancast-subscribe>.content .container .each-subscribe .each-subscribe-header{
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    transition: all 0.3s ease-in-out;
}
.irancast-subscribe>.content .container .each-subscribe .each-subscribe-header path{
    transition: all 0.3s ease-in-out;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    padding: 24px;
    display: flex;
    color: var(--LightParagraphs);
    gap: 16px;
    align-items: center;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content i {
    padding: 13px 16px;
    background-color: var(--TenPercentWhite);
    border-radius: 8px;
    border: var(--MainBorder);
    font-size: 32px;
    position: relative;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content i::after {
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    right: 50%;
    box-shadow: 7px 8px 26px 28px var(--maincolor);
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content div>span {
    font-size: 14px;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content div p {
    font-size: 12px;
    font-weight: bold;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-header-content div p span {
    color: var(--maincolor);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.irancast-subscribe>.content .container .each-subscribe>.buy-link>a {
    display: block;
    padding: 14px;
    color: var(--LightParagraphs);
    border-radius: 16px;
    background-color: var(--TenPercentWhite);
    text-align: center;
}
.irancast-subscribe>.content .container .each-subscribe>.buy-link{
    position: absolute;
    bottom: 18px;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    color: var(--LightParagraphs);
    border-radius: 16px;
    background-color: var(--DarkShapes);
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-content {
    position: absolute;
    width: 90%;
    bottom: 101px;
    right: 50%;
    transform: translatex(50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-content>div {
    display: flex;
    gap: 8px;
    align-items: center;
}
.irancast-subscribe>.content .container .each-subscribe .each-card-content>div i {
    padding: 7px;
    border: var(--MainBorder);
    background-color: var(--maincolor);
    color: var(--LightParagraphs);
    border-radius: 8px;
    font-size: 10px;
    transition: all 0.3s ease-in-out;
}
.irancast-subscribe>.content .container .each-subscribe:hover .each-card-content>div i{
    background-color: var(--DarkShapes);
    color: var(--LightParagraphs);
}
/* irancast-premium section */
.irancast-premium{
    margin: 91px 0px 0px 0px;
}
.irancast-premium .container {
    position: relative;
}
.irancast-premium .container>svg {
    position: absolute;
    left: 0;
    z-index: -50;
    top: 0;
    width: 110%;
    border-radius: 16px;
}
.irancast-premium .container header {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 21px 0px 23px 0px;
    color: var(--LightParagraphs);
}
.irancast-premium .container header i {
    background: rgba(256, 256, 256, 50%);
    color: var(--maincolor);
    border-radius: 8px;
    border: var(--MainBorder);
    padding: 12px;
    color: var(--LightParagraphs);
}
.irancast-premium .container header p {
    color: var(--DarkParagraphs);
    opacity: 0.7;
    margin-right: 18px;
    margin-left: 5px;
    color: var(--LightParagraphs);
}
.irancast-premium .container header .hor-line{
    background-color: var(--TenPercentWhite);
}
.irancast-premium .container header a{
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 15px;
    border-radius: 10px 10px 30px 10px;
    background-color: var(--LightSections);
    border: var(--MainBorder);
    color: var(--DarkParagraphs);
}

.irancast-premium .container .background-svg {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 110%;
    border-radius: 16px;
}
.irancast-premium .container .premium-cards{
    display: flex;
    justify-content: space-between;
}
.irancast-premium .container .premium-cards .each-card {
    height: 352px;
    width: 288px;
    border-radius: 14px;
    position: relative;
    padding: 60px 12px 12px 12px;
}
.irancast-premium .container .premium-cards .each-card::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    box-shadow: 19px 10px 141px 25px var(--DarkShapes);
    z-index: -1;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}
.irancast-premium .container .premium-cards .each-card:hover::after{
    opacity: 1;
}
.irancast-premium .container .premium-cards .each-card>a {
    padding: 20px 26px;
    border-radius: 16px;
    position: absolute;
    bottom: 8px;
    left: 14px;
    background-color: var(--DarkShapes);
    color: var(--LightParagraphs);
    z-index: 5;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}
.irancast-premium .container .premium-cards .each-card>i {
    position: absolute;
    left: 20px;
    top: 8px;
    padding: 11px 10px 1px 10px;
    z-index: 10;
    background-color: var(--DarkParagraphs);
    border-radius: 14px;
    border: 1px solid rgba(256,256,256,20%);
    transition: all 0.3s ease-in-out;
}
.irancast-premium .container .premium-cards .each-card:hover>i{
    background-color: var(--maincolor);
}
.irancast-premium .container .premium-cards .each-card:hover >a{
    background-color: var(--maincolor);
    box-shadow: 0px 0px 30px 0px var(--maincolor);
}
.irancast-premium .container .premium-cards .each-card .content {
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    top: 0;
    right: 0;
    z-index: 5;
    flex-direction: column;
}
.irancast-premium .container .premium-cards .each-card .content .desc {
    position: relative;
    padding: 5px 21px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.irancast-premium .container .premium-cards .each-card .content .desc p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.irancast-premium .container .premium-cards .each-card .content .desc p.card-desc-p-limit{
    margin-top: 14px;
    font-weight: bold;
}
.irancast-premium .container .premium-cards .each-card .content .desc p.count{
    font-size: 14px;
    color: var(--maincolor);
}
.irancast-premium .container .premium-cards .each-card .content .desc p.count::after {
    content: "";
    background-color: var(--maincolor);
    width: 4px;
    height: 15px;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    right: 0px;
    top: 9px;
}
.irancast-premium .container .premium-cards .each-card .content .desc .time {
    color: var(--DarkParagraphs);
    opacity: 0.5;
    gap: 8px;
}
.irancast-premium .container .premium-cards .each-card .content .desc i {
    margin-left: 8px;
}
.irancast-premium .container .premium-cards .each-card .content .desc span {
    font-size: 14px;
}
.irancast-premium .container .premium-cards .each-card .content .desc svg {
    position: absolute;
    right: 0;
    top: 50px;
}
.irancast-premium .container .premium-cards .each-card .content .desc svg path{
    opacity: 0.1;
    stroke: var(--DarkParagraphs);
}
.irancast-premium .container .premium-cards .each-card .sub-shape {
    position: absolute;
    right: 1px;
    top: 60px;
    width: 100%;
    height: 292px;
}
.irancast-premium .container .premium-cards .each-card .sub-shape2 {
    position: absolute;
    right: 4px;
    top: 60px;
    width: 99%;
    height: 292px;
}
.irancast-premium .container .premium-cards .each-card .sub-shape2 .sub-div-relative {
    width: 96%;
    height: 100%;
    z-index: 1;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    margin-right: 6px;
    border: 1px solid #0000001a;
}
.irancast-premium .container .premium-cards .each-card:hover .sub-div-relative{
    background-color: var(--DarkShapes);
}
.z-index--1{
    z-index: -1;
}
.irancast-premium .container .premium-cards .each-card .content img{
    clip-path: url(#new-episode-card-pic);
    width: 263px;
    height: 171px;
    margin-right: 50%;
    transform: translate(50%);
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
}
.irancast-premium .container .premium-cards .each-card:hover img{
    filter: grayscale(0%);
}
.irancast-premium .container>a {
    position: absolute;
    left: 0;
    top: 0;
    width: 146.17px;
    background-color: var(--LightShapes);
    border: var(--MainBorder);
    border-radius: 10px 10px 30px 10px;
    color: var(--DarkParagraphs);
    padding: 10px 27px;
    white-space: nowrap;
}
/* irancast-guest section: */
.irancast-guest{
    margin: 64px 0px 0px 0px;
}
.irancast-guest .container{

}
.irancast-guest .container header{
    display: flex;
    justify-items: center;
    gap: 12px;
    align-content: center;
    align-items: center;
}
.irancast-guest .container header i{
    background: rgba(256, 256, 256, 50%);
    color: var(--maincolor);
    border-radius: 8px;
    border: var(--MainBorder);
    padding: 12px;
}
.irancast-guest .container header h2{

}
.irancast-guest .container header h2 span{
    color: var(--maincolor);
}
.irancast-guest .container header p{
    color: var(--DarkParagraphs);
    opacity: 0.7;
    margin-right: 12px;
}
.irancast-guest .container header>a{
    padding: 6px 15px;
    border-radius: 8px;
    background-color: var(--LightSections);
    border: var(--MainBorder);
    color: var(--DarkParagraphs);
}
.irancast-guest .container .content{
    margin-top: 51px;
    display: flex;
    gap: 16px;
}
.irancast-guest .container .content .each-card-guest{
    position: relative;
    background-color: var(--DarkShapes);
    border-radius: 16px;
    width: 288px;
    height: 270px;
}
.irancast-guest .container .content .each-card-guest>svg {
    width: 90%;
    top: -27px;
    position: absolute;
    right: 50%;
    transform: translateX(51%);
    transition: all 0.3s ease-in-out;
}
.irancast-guest .container .content .each-card-guest>svg path{
    opacity: 0.1;
    transition: all 0.3s ease-in-out;
    stroke: var(--LightShapes);
}
.irancast-guest .container .content .each-card-guest>svg{
    fill: #ffffff00;
}
.irancast-guest .container .content .each-card-guest:hover>svg{
    fill: var(--maincolor);
}
.irancast-guest .container .content .each-card-guest:hover>svg path{
    opacity: 1;
    /*stroke-width: 0;*/
    stroke: var(--maincolor)
}
.irancast-guest .container .content .each-card-guest>img {
    position: absolute;
    filter: grayscale(100%);
    right: 0;
    bottom: 0;
    max-height: 287px;
    max-width: 228px;
    transition: all 0.4s ease-in-out;
}
.irancast-guest .container .content .each-card-guest:hover>img{
    filter: grayscale(0%);
}
.irancast-guest .container .content .each-card-guest>a {
    position: absolute;
    bottom: 18px;
    left: 14px;
    display: flex;
    gap: 58px;
    backdrop-filter: blur(10px);
    background: #25292A99;
    color: var(--LightParagraphs);
    border-radius: 16px;
    border: 1px solid #ffffff2a;
    padding: 16px;
    align-items: center;
}
.irancast-guest .container .content .each-card-guest>a:hover{
    background-color: var(--maincolor);
    box-shadow: 2px 10px 18px -2px var(--maincolor);
}
.irancast-guest .container .content .each-card-guest .guest-desc {
    position: absolute;
    left: 32px;
    top: 30px;
    color: var(--LightParagraphs);
    max-width: 45%;
}
.irancast-guest .container .content .each-card-guest .guest-desc p{
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.irancast-guest .container .content .each-card-guest .guest-desc span{
    opacity: 0.7;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* irancast-second-advertisement section: */

.irancast-second-advertisement{
    margin: 75px 0px 300px 0px;
    padding-top: 43px;
    position: relative;
}
.irancast-second-advertisement header {
    width: 560px;
    height: 96px;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    z-index: 10;
}
.irancast-second-advertisement header .header-content {
    width: 100%;
    height: 100%;
    background-color: var(--DarkShapes);
    border-radius: 16px;
    gap: 8px;
    position: relative;
    display: flex;
    color: #fff;
    padding: 24px;
    align-items: center;
}
.irancast-second-advertisement header .header-content i {
    padding: 11px 16px;
    color: var(--LightParagraphs);
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
    border-radius: 8px;
    position: relative;
    z-index: 40;
}
.irancast-second-advertisement header .header-content i::after{
    content: "";
    position: absolute;
    top: 50%;
    z-index: -1;
    right: 50%;
    box-shadow: 7px 8px 16px 18px var(--maincolor);
}
.irancast-second-advertisement header .header-content h2{

}
.irancast-second-advertisement header .header-content h2 span {
    color: var(--maincolor);
}
.irancast-second-advertisement header .header-content img{
    position: absolute;
    left: 14px;
    bottom: 0;
}
.irancast-second-advertisement .content {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.irancast-second-advertisement .content .each-card{
    position: relative;
}
.irancast-second-advertisement .content .each-card>div {
    display: flex;
    padding: 70px 32px 32px 32px;
    gap: 8px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.irancast-second-advertisement .content .each-card>div .each-social-media{
    border-radius: 16px;
    background-color: var(--SiteBackgroundColor);
    display: flex;
    gap: 16px;
    width: 220px;
    height: 51px;
    align-items: center;
    transition: all 0.2s ease-in-out;
    padding-right: 6px;
}
.irancast-second-advertisement .content .each-card>div .each-social-media i{
    border-radius: 12px;
    background-color: var(--maincolor);
    padding: 10px;
    color: var(--LightParagraphs);
    transition: all 0.2s ease-in-out;
    border: 1px solid #ffffff00;
}
.irancast-second-advertisement .content .each-card>div .each-social-media h3{
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    color: var(--DarkParagraphs);
}
.irancast-second-advertisement .content .each-card>div .each-social-media:hover{
    background-color: var(--maincolor);
    box-shadow: 2px 10px 18px -2px var(--maincolor);
}
.irancast-second-advertisement .content .each-card>div .each-social-media:hover i{
    background-color: var(--TenPercentWhite);
    border: var(--MainBorder);
}
.irancast-second-advertisement .content .each-card>div .each-social-media:hover h3{
    color: var(--LightParagraphs);
}
















