@media screen and (max-width: 1220px) {
    .container{
        width: 975px;
        /*background-color: red;*/
    }

    /* irancast-header section: */
    .irancast-help .container .left-section .content img {
        margin-bottom: 17px;
    }
    .irancast-header .header-content-bottom .container>ul {
        gap: 10px;
    }
    .irancast-header .header-content-bottom .container>ul>li>ul {
        max-width: 955px;
    }


    /* season-category section: */
    .season-category .episodes .episodes-div .episodes-list .each-episode .dp-lp{
        display: block;
    }
    .custom-player .play-pause {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
    .banner-content .custom-player {
        width: 381px;
        height: 70px;
    }
    .irancast-banner .banner-content .left-section-banner{
        gap: 12px;
    }
    .irancast-banner .banner-content .right-section-banner::after{
        padding: 170px;
    }
    .season-category .episodes .episodes-div {
        padding: 10px 32px 22px 32px;
        gap: 10px;
    }
    .season-category .episodes .episodes-div .episodes-list .each-episode {
        padding: 5px 14px;
    }
    .season-category .seasons .subshape {
        padding: 75px 32px 32px 32px;
    }
    .season-category .seasons .four-sesasons .each-season {
        max-height: 65px;
    }
    .season-category .episodes>a {
        width: 27.7%;
    }

    /* new-episodes section: */
    .irancast-new-episodes .container .new-episodes-cards .each-card .content .desc {
        padding: 3px 16px 60px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card .content img {
        width: 222px;
        height: 123px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card {
        width: 235px;
        height: 307px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card .sub-shape2 {
        height: 247px;
    }

    /* irancast-first-advertisement section: */
    .irancast-first-advertisement .container .remaining-time .remaining-content img {
        max-width: 80px;
        max-height: 80px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-content div {
        margin-top: 15px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-title h3 {
        font-size: 16px;
    }
    .irancast-first-advertisement .container .financial-support .financial-content {
        bottom: 47px;
    }
    .financial-support .financial-title div div h3 {
        font-size: 18px;
    }

    /* irancast-favorite section: */
    .irancast-favorite .content .right-section .content {
        display: flex;
        gap: 16px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px 18px;
        align-items: center;
        overflow: hidden;
    }
    .irancast-favorite .content .right-section .content .texts {
        gap: 5px;
    }
    .irancast-favorite .content .right-section .content .texts h3 {
        font-size: 22px;
    }
    .irancast-favorite .content .left-section .left-content {
        padding: 0px 32px 16px 32px;
    }

    /* irancast-subscribe section: */
    .irancast-subscribe>.content .container {
        flex-wrap: wrap;
    }
    .irancast-subscribe>.content .container .each-subscribe {
        width: 32%;
    }

    /* irancast-premiu section: */
    .irancast-premium .container .premium-cards .each-card .content .desc {
        padding: 3px 16px 60px;
    }
    .irancast-premium .container .premium-cards .each-card .content img {
        width: 222px;
        height: 123px;
    }
    .irancast-premium .container .premium-cards .each-card {
        width: 235px;
        height: 307px;
    }
    .irancast-premium .container .premium-cards .each-card .sub-shape2 {
        height: 247px;
    }
    .irancast-premium .container .premium-cards .each-card>i {
        padding: 8px 7px 0px 7px;
    }

    /* irancast-second-advertisement section: */
    .irancast-second-advertisement .content .each-card>svg {
        width: 467px;
    }
    .irancast-second-advertisement .content .each-card>div .each-social-media {
        width: 190px;
    }

    /* irancast-help section: */
    .irancast-help {
        margin: 60px 0px 0px 0px;
    }

    /* irancast-book section: */
    .irancast-book .container .content .right-section .absolute-svg {
        top: 100px;
    }
    .irancast-book .container .content .left-section .absolute-svg {
        top: 100px;
    }

    /* irancast-read-more section: */
    .irancast-read-more .container .read-more-cards .each-card .content .desc {
        padding: 3px 16px 60px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content img {
        width: 222px;
        height: 123px;
    }
    .irancast-read-more .container .read-more-cards .each-card {
        width: 235px;
        height: 307px;
    }
    .irancast-read-more .container .read-more-cards .each-card .sub-shape2 {
        height: 247px;
    }
    .irancast-read-more .container .read-more-cards .each-card>i {
        padding: 8px 7px 0px 7px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content .desc {
        padding: 3px 16px 30px;
    }

    /* irancast-faq section: */
    .irancast-faq .container .content .each-faq {
        width: 48%;
    }

    /* irancast-footer section: */
    footer.irancast-footer .container .footer-middle .footer-licenses .all-licenses {
        justify-content: flex-end;
    }
    footer.irancast-footer .container .footer-middle .footer-licenses .all-licenses figure {
        width: 153px;
        height: 94px;
    }


    /* irancast-about-us section: */
    .irancast-about-us .container>svg.background-svg {
        width: 1086px;
    }
    .irancast-about-us .container .content {
        padding-top: 0px;
    }

    .irancast-about-us .container img.about-us-img {
        bottom: 10px;
        left: 152px;
        max-width: 452px;
    }

    /* archive episode page: */
    .archive-page .archive-content .archive-sort-sec {
        gap: 20px;
    }
    .archive-page .archive-content .archive-sort-sec div span {
        margin-left: 16px;
        font-size: 14px;
    }
    .archive-page .archive-content {
        width: 670px;
    }
    .archive-page .archive-content .all-episodes-sec .each-card {
        margin-bottom: 40px;
        width: 324px;
    }
    .irancast-premium .container .premium-cards .each-card .sub-shape2, .archive-content .all-episodes-sec .each-card .sub-shape2 {
        top: 95px;
    }
    .irancast-premium .container .premium-cards .each-card .content img, .archive-content .all-episodes-sec .each-card .content img {
        width: 296px;
        height: 184px;
    }
    .irancast-premium .container .premium-cards .each-card>a, .archive-content .all-episodes-sec .each-card>a {
        bottom: -20px;
    }
    .irancast-premium .container .premium-cards .each-card .content .desc svg, .archive-content .all-episodes-sec .each-card .content .desc svg {
        top: 40px;
    }

    /* .irancast-read-more .archive-page:  */
    .irancast-read-more .container .read-more-cards .each-card, .archive-page .archive-content .all-posts-sec .each-card {
        width: 324px;
        margin-bottom: 40px;
    }
    .irancast-read-more .container .read-more-cards .each-card .sub-shape2, .archive-page .archive-content .all-posts-sec .each-card .sub-shape2 {
        top: 95px;
    }
    .irancast-read-more .container .read-more-cards .each-card>a, .archive-page .archive-content .all-posts-sec .each-card>a {
        bottom: -14px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content img, .archive-page .archive-content .all-posts-sec .each-card .content img {
        width: 296px;
        height: 184px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content .desc, .archive-page .archive-content .all-posts-sec .each-card .content .desc {
        padding: 5px 21px 12px;
    }




















































    .irancast-header .header-content-bottom .container>ul>li{
        position: unset;
    }
    .irancast-header .header-content-bottom .container>ul{
        position: relative;
    }

}