@media screen and (max-width: 576px) {
    .container {
        /*background-color: yellow;*/
        width: 322px;
    }


    .irancast-header .header-content-top .container>ul.mobile {
        width: 100%;
        padding: 10px 40px;
    }

    /* irancast-banner section: */
    .irancast-banner .banner-content{
        padding: 0px 24px;
    }
    .irancast-banner .banner-content .left-section-banner p{
        font-size: 14px;
    }
    .irancast-banner .banner-content .right-section-banner::after {
        padding: 67px;
        top: 20%;
    }
    .banner-content .custom-player {
        width: 306px;
        height: 96px;
        position: absolute;
        bottom: -10px;
        right: 50%;
        transform: translateX(50%);
        padding: 16px;
    }
    .custom-player .play-pause {
        width: 64px;
        height: 64px;
        font-size: 12px;
    }
    .irancast-banner .right-section-banner img {
        bottom: 42px;
        right: 50%;
        transform: translateX(50%);
    }

    /* season-category section: */
    .season-category {
        flex-direction: column;
    }
    .season-category .seasons, .season-category .episodes {
        width: 100%;
    }
    .season-category .seasons .four-sesasons .each-season div {
        flex-direction: column;
        gap: 0px;
    }
    .season-category .seasons .four-sesasons .each-season>span {
        padding: 7px 14px;
    }
    .season-category .seasons .four-sesasons .each-season {
        padding: 14px;
    }
    .season-category .seasons .seasons-title {
        right: -70px;
        top: -105px;
        width: 380px;
        height: 97px;
        z-index: -1;
    }
    .season-category {
        margin-top: 164px;
    }
    .season-category .seasons .subshape {
        padding: 16px 16px 16px 11px;
    }
    .season-category .seasons .four-sesasons .each-season div span {
        font-size: 14px;
    }
    .season-category .seasons .four-sesasons .each-season {
        max-height: 70px;
    }
    .season-category .episodes {
        padding-bottom: 55px;
    }
    .season-category .episodes>a {
        top: unset;
        bottom: -8px;
        width: 42.7%;
        font-size: 16px;
    }
    .season-category .episodes .episodes-div .episodes-list .each-episode {
        padding: 10px 14px;
        flex-direction: row-reverse;
        gap: 12px;
        justify-content: flex-end;
    }
    .season-category .episodes .episodes-div .episodes-list .each-episode .title h4 {
        font-size: 14px;
    }
    .season-category .episodes .episodes-div .episodes-list .each-episode .title p {
        font-size: 14px;
    }
    .season-category .episodes .episodes-div .episodes-list .each-episode .title span {
        display: none;
    }
    .season-category .episodes>i {
        display: none;
    }
    .season-category .episodes .episodes-div {
        gap: 23px;
    }

    /* new-episodes section: */
    .irancast-new-episodes .container .new-episodes-cards .each-card {
        width: 100%;
        height: 380px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card .content img {
        width: 291px;
        height: 171px;
    }
    .irancast-new-episodes .container .new-episodes-cards {
        gap: 50px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card .sub-shape2 {
        height: 335px;
    }
    .irancast-new-episodes .container>a {
        bottom: -70px;
    }
    .irancast-new-episodes .container .new-episodes-cards .each-card .content .desc svg {
        top: 50px;
    }

    /* irancast-first-advertisement section: */
    .irancast-first-advertisement .container .remaining-time .remaining-content img {
        max-width: 72px;
        max-height: 72px;
    }
    .irancast-first-advertisement .container .remaining-time svg.desktop {
        display: none;
    }
    .irancast-first-advertisement .container .remaining-time svg.mobile {
        display: block;
        margin-top: 24px;
    }
    .irancast-first-advertisement .container .remaining-time, .irancast-first-advertisement .container .financial-support {
        padding-top: 140px;
    }
    .financial-support .financial-title div p {
        opacity: 0.7;
        font-weight: 300;
        font-size: 14px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-content {
        bottom: 17px;
        align-items: center;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-content div {
        display: unset;
        margin-top: 0;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-title .time-left {
        position: absolute;
        bottom: -22px;
        right: 50%;
        transform: translateX(50%);
        width: 261px;
        box-shadow: black 0px 0px 81px -27px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-title h3 {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        text-align: center;
        padding-top: 9px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-title {
        height: 108px;
    }
    .irancast-first-advertisement .container .remaining-time .remaining-title>img{
        max-height: 80%;
    }
    .financial-support .financial-title img.desktop{
        display: none;
    }
    .financial-support .financial-title {
        height: 97px;
        right: unset;
        transform: translateX(0);
        left: 0;
        width: 114%;
        border-radius: 16px 0px 0px 16px;
        padding: 20px;
    }
    .irancast-first-advertisement .financial-support .mobile-shape{
        /*display: block;*/
    }
    .irancast-first-advertisement .financial-support .desktop{
        display: none;
    }
    .irancast-first-advertisement .container .financial-support .financial-content {
        flex-direction: column;
    }
    .irancast-first-advertisement .container .financial-support .financial-content {
        width: 322px;
        border: var(--MainBorder);
        border-radius: 24px;
        color: var(--DarkParagraphs);
        background-color: #fff;
        display: flex;
        position: unset;
        transform: translateX(0);
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }
    .irancast-first-advertisement .container .financial-support .financial-content div {
        width: 100%;
    }
    .irancast-first-advertisement .container .remaining-time, .irancast-first-advertisement .container .financial-support {
        padding-top: 114px;
    }

    /* irancast-favorite section: */
    .irancast-favorite {
        margin: 25px 0px 0px 0px;
    }
    .irancast-favorite .content .right-section .custom-player {
        bottom: -33px;
    }
    .irancast-favorite>.container>.content {
        gap: 56px;
    }
    .irancast-favorite .content .left-section>svg {
        display: none;
    }
    .irancast-favorite .content .left-section .left-content {
        bottom: 10px;
        background-color: #fff;
        padding: 16px;
        border-radius: 24px;
    }
    .irancast-favorite .content .left-section .left-content>div {
        width: 100%;
    }
    .irancast-favorite .content .left-section .header {
        position: unset;
    }
    .irancast-favorite .content .left-section .left-content {
        position: unset;
        margin-top: 8px;
    }
    .irancast-favorite .content .right-section .content .texts .title {
        display: none;
    }
    .irancast-favorite .content .right-section .content .texts span {
        font-size: 14px;
    }
    .irancast-favorite .header h2 {
        font-size: 20px;
    }
    .irancast-favorite .header p {
        font-size: 14px;
    }
    .irancast-favorite .header>a {
        display: none;
    }
    .irancast-favorite .content .left-section>div>a{
        padding: 6px 15px;
        border-radius: 8px;
        background-color: var(--LightSections);
        border: var(--MainBorder);
        color: var(--DarkParagraphs);
        margin-top: 16px;
        display: inline-block;
        float: left;
    }
    .irancast-favorite .header .hor-line{
        display: none;
    }

    /* irancast-subscribe section: */


    /* irancast-premium section: */
    .irancast-premium{
        display: none;
    }
    .irancast-premium .container .premium-cards .each-card {
        width: 100%;
        height: 380px;
    }
    .irancast-premium .container .premium-cards .each-card .content img {
        width: 291px;
        height: 171px;
    }
    .irancast-premium .container .premium-cards {
        gap: 50px;
    }
    .irancast-premium .container .premium-cards .each-card .sub-shape2 {
        height: 335px;
    }
    .irancast-premium .container>a {
        bottom: -70px;
    }
    .irancast-premium .container .premium-cards .each-card .content .desc svg {
        top: 50px;
    }

    /* irancast-guest section: */
    .irancast-guest {
        margin: 22px 0px 0px 0px;
    }
    .irancast-guest .container>a {
        padding: 6px 15px;
        border-radius: 8px;
        background-color: var(--LightSections);
        border: var(--MainBorder);
        color: var(--DarkParagraphs);
        margin-top: 16px;
        display: inline-block;
        float: left;
    }
    .irancast-guest .container .content .each-card-guest {
        position: relative;
        background-color: var(--DarkShapes);
        border-radius: 16px;
        width: 322px;
        height: 270px;
    }
    .irancast-guest .container header {
        align-items: flex-start;
        flex-direction: column;
    }
    .irancast-guest .container .content {
        margin-top: 22px;
    }
    .irancast-guest .container .content {
        gap: 44px;
    }
    /* irancast-second-advertisement section: */
    .irancast-second-advertisement {
        margin: 42px 0px 0px 0px;
    }
    .irancast-second-advertisement .content .each-card svg.desktop{
        display: none;
    }
    .irancast-second-advertisement .content .each-card svg.mobile {
        display: block;
    }
    .irancast-second-advertisement header .header-content{
        width: 300px;
    }
    .irancast-second-advertisement header .header-content img{
        display: none;
    }
    .irancast-second-advertisement .content .each-card>div {
        flex-direction: column;
        padding: 16px 17px 16px 17px;
    }
    .irancast-second-advertisement .content .each-card>div .each-social-media {
        width: 100%;
    }
    .irancast-second-advertisement .content .each-card>svg {
        width: 322px;
    }
    .irancast-second-advertisement .content .each-card:nth-child(2)>div{
        padding: 24px 17px 16px 17px;
    }
    .irancast-second-advertisement .content {
        gap: 8px;
        margin-top: 16px;
    }
    /* irancast-help section: */
    .irancast-help {
        margin: 60px 0px 0px 0px;
    }
    .irancast-help .container .left-section .content>img {
        margin-bottom: unset;
    }
    .irancast-help .container .right-section .desktop{
        display: none;
    }
    .irancast-help .container .right-section .mobile{
        display: unset;
    }
    .irancast-help .container .right-section .content>img {
        width: 71px;
        height: auto;
    }
    .irancast-help .container .right-section .content>div>span {
        display: none;
    }
    .irancast-help .container .right-section .content>div h3 {
        font-size: 20px;
    }
    .irancast-help .container .right-section .content {
        padding: 18px 0px 22px 14px;
        gap: 10px;
    }
    .irancast-help .container .left-section .desktop{
        display: none;
    }
    .irancast-help .container .left-section .mobile{
        display: unset;
    }
    .irancast-help .container {
        gap: 12px;
    }
    .irancast-help .container .left-section .content>div>span {
        display: none;
    }
    .irancast-help .container .left-section .content>img {
        width: 69px;
        height: auto;
    }
    .irancast-help .container .left-section .content {
        padding: 18px 0px 22px 14px;
        gap: 10px;
    }
    .irancast-help .container .left-section .content>div h3 {
        font-size: 20px;
    }

    /* irancast-book section: */
    .irancast-book .container .content .right-section>.mobile-svg{
        display: block;
        width: 100%;
        height: 209px;
        background-color: var(--SecondMaincolor);
        border-radius: 24px;
    }
    .irancast-book .container .content .left-section>.mobile-svg{
        display: block;
        width: 100%;
        height: 209px;
        background-color: var(--SecondMaincolor);
        border-radius: 24px;
    }
    .irancast-book .container .content .right-section>.colored-svg{
        display: none;
    }
    .irancast-book .container .content .left-section>.colored-svg{
        display: none;
    }
    .irancast-book .container header {
        flex-direction: column;
        align-items: flex-start;
    }
    .irancast-book .container header .hor-line{
        display: none;
    }
    .irancast-book .container header>a{
        display: none;
    }
    .irancast-book .container>a{
        display: unset;
        padding: 6px 15px;
        border-radius: 8px;
        background-color: var(--LightSections);
        border: var(--MainBorder);
        color: var(--DarkParagraphs);
        float: left;
        margin-top: 16px;
    }
    .irancast-book .container .content .right-section img {
        bottom: 0px;
    }
    .irancast-book .container .content .right-section .right-content {
        padding-right: 24px;
    }
    .irancast-book .container .content .left-section .left-content {
        padding-right: 24px;
    }
    .irancast-book .container .content .right-section .right-content {
        width: 81%;
    }
    .irancast-book .container .content .left-section .left-content {
        width: 81%;
    }
    .irancast-book .container .content .left-section img {
        bottom: 0px;
    }
    .irancast-book .container .content .right-section .right-content>a {
        margin-bottom: -7px;
    }
    .irancast-book .container .content .left-section .left-content>a {
        margin-bottom: -7px;
    }
    .irancast-book .container .content .right-section img {
        max-width: 40%;
    }
    .irancast-book .container .content .left-section img {
        max-width: 40%;
    }
    .irancast-book .container .content .left-section>.absolute-mobile-svg{
        display: unset;
    }
    .irancast-book .container .content .left-section>.absolute-desktop{
        display: none;
    }
    .irancast-book .container .content .right-section>.absolute-mobile-svg{
        display: unset;
    }
    .irancast-book .container .content .right-section>.absolute-desktop{
        display: none;
    }
    .irancast-book .container .content .right-section .absolute-svg {
        top: 114px;
    }
    .irancast-book .container .content .left-section .absolute-svg {
        top: 114px;
    }
    .irancast-book .container .content .right-section img {
        left: -40px;
    }
    .irancast-book .container .content .left-section img {
        left: -40px;
    }

    /* irancast-read-more section: */
    .irancast-read-more {
        margin: 89px 0px 0px 0px;
    }
    .irancast-read-more .container .read-more-cards .each-card {
        width: 100%;
        height: 380px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content img {
        width: 291px;
        height: 171px;
    }
    .irancast-read-more .container .read-more-cards {
        gap: 50px;
    }
    .irancast-read-more .container .read-more-cards .each-card .sub-shape2 {
        height: 335px;
    }
    .irancast-read-more .container>a {
        bottom: -70px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content .desc svg {
        top: 50px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content .desc p.count::after {
        top: 4px;
    }
    .irancast-read-more .container .read-more-cards .each-card .content .desc svg {
        top: 29px;
    }
    .irancast-read-more .container header a {
        bottom: -70px;
    }

    /* irancast-comments section: */
    .irancast-comments {
        margin: 106px 0px 0px 0px;
    }
    .irancast-comments .container .content {
        position: relative;
        padding: 0px 0px;
    }
    .irancast-comments header .header-content{
        padding: 31px 70px 0px 0px;
    }

    /* irancast-faq section: */
    .irancast-faq {
        margin: 107px 0px 0px 0px;
    }
    .irancast-faq .container header{
        flex-direction: column;
        align-items: flex-start;
    }
    .irancast-faq .container .content {
        margin-top: 30px;
    }
    /* irancast-footer section: */
    footer.irancast-footer .container .footer-top .content figure {
        width: 50%;
    }
    footer.irancast-footer .container .footer-top .content {
        padding: 20px 0px 0px 5px;
    }
    footer.irancast-footer .container .footer-middle>div {
        margin-top: 0px;
    }
    footer.irancast-footer .container .footer-middle>div {
        padding: 0px 0px 0px 0px;
    }
    footer.irancast-footer .container .footer-middle .title h3 {
        font-size: 16px;
    }
    footer.irancast-footer .container .footer-middle .footer-licenses {
        width: 25%;
    }
    footer.irancast-footer .container .footer-middle .force-links {
        width: 25%;
    }
    footer.irancast-footer .container .footer-middle .about-us-footer .irancast-address {
        padding: 0px 30px;
    }
    footer.irancast-footer .container .footer-middle .footer-social-media {
        display: unset;
        margin-right: unset;
        margin-top: 25px;
    }
    footer.irancast-footer .container .foote-bottom .footer-social-media{
        display: none;
    }
    footer.irancast-footer .container .footer-middle .about-us-footer {
        align-items: flex-start;
    }
    footer.irancast-footer .container .foote-bottom .newsletter input[type="text"] {
        width: 248px;
    }
    .irancast-about-us .container img.about-us-img {
        max-height: 397px;
    }
    .irancast-about-us .container .content .right-section .desc {
        -webkit-line-clamp: 7;
    }

    /* .archive-page .single-content (single blog): */
    .archive-page .single-content h1 {
        padding: 8px 40px;
        font-size: 10px;
    }
    .archive-page .single-content .single-sections .header {
        flex-direction: column;
    }

    /* iarncast-dashboard page: */
    .iarncast-dashboard .container .dashboard-content>.content {
        margin-top: -20px;
    }
    .iarncast-dashboard .container .dashboard-content>.title .title-content {
        top: 21px;
    }
    .iarncast-dashboard .container .dashboard-content .content .fav-content {
        padding: 0px 0px 24px 0px;
        background-color: var(--LightSections);
    }
    .iarncast-dashboard .container .dashboard-content .content .fav-content .each-fav .fav-body{
        background-color: var(--SiteBackgroundColor);
        padding: 16px;
        justify-content: center;
    }
    .iarncast-dashboard .container .dashboard-content .content .dash-con .dash-con-header {
        position: unset;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        background-color: var(--SiteBackgroundColor);
        margin-top: -2px;
        margin-bottom: 10px;
        border-radius: 0 0 16px 16px;
        padding: 0px 15px 0 0;
    }
    .iarncast-dashboard .container .dashboard-content .content .news-content .each-news:first-child {
        margin-top: 30px;
    }
    .iarncast-dashboard .container .dashboard-content .content .news-content .each-news{
        background: var(--SiteBackgroundColor);
    }
    .iarncast-dashboard .container .dashboard-content .content .news-content .each-news>a {
        top: 50px;
    }

    .iarncast-dashboard .container .dashboard-content .content .news-content {
        padding: 0px;
        background-color: var(--LightSections);
    }
    .iarncast-dashboard .container .dashboard-content .content .news-content .each-news .title {
        width: 290px;
    }
    .iarncast-dashboard .container .dashboard-content>.title .title-content h2{
        font-size: 20px;
    }
    .iarncast-dashboard .container .dashboard-content .content .my-subscribe>.title {
        top: -40px;
        right: -20px;
        width: 300px;
    }
    .iarncast-dashboard .container .dashboard-content .content .my-subscribe>.title .title-content>div {
        padding: 9px 20px 9px 9px;
    }
    .iarncast-dashboard .container .dashboard-content .content .my-subscribe>.active-light {
        top: 80px;
    }
    .dashboard-content .content .my-subscribe .my-subscribe-content {
        padding: 130px 10px 24px 10px;
    }
    .iarncast-dashboard .container .dashboard-content .content .my-subscribe>a.renewal {
        width: 100%;
    }
    .iarncast-dashboard .container .dashboard-content .content .my-subscribe>.title .title-content>div p span {
        display: inline-block;
    }

    /* my-downloads page: */
    .dashboard-content .content .my-downloads .row>* {
        font-size: 12px;
    }
    .dashboard-content .content .my-downloads .row {
        padding: 8px;
        justify-content: space-between;
    }
    .dashboard-content .content .my-downloads .row>.rem-mobile{
        display: none;
    }
    .dashboard-content .content .my-downloads .header>.content>.rem-mobile{
        display: none;
    }
    .dashboard-content .content .my-downloads .header .content span {
        width: unset;
    }
    .dashboard-content .content .my-downloads .header .content {
        justify-content: space-between;
    }

    /* each-order page: */
    .dashboard-content .content .each-order .desc {
        flex-direction: column;
    }
    .dashboard-content .content .each-order .desc>.ver-line {
        width: 50%;
        height: 1px;
    }
    .dashboard-content .content .each-order .desc>div {
        text-align: center;
    }
    .dashboard-content .content .each-order .details {
        padding: 24px 10px;
    }
    .dashboard-content .content .my-comments .each-comment .content {
        padding: 14px 8px 0 8px;
    }

    /* the-news apge: */
    .dashboard-content .content .the-news .row>.title {
        width: 285px;
    }

    /* setting page: */
    .dashboard-content .content .setting .desc {
        gap: 12px;
        flex-direction: column;
    }
    .dashboard-content .content .setting .desc>.ver-line {
        width: 50%;
        height: 1px;
    }

    /* irancast-basket page: */
    .irancast-basket .container .basket-side {
        width: 100%;
    }
    .irancast-basket .container .content>.title {
        padding: 10px 0;
    }
    .irancast-basket .container .content>.title {
        top: -55px;
    }
    .irancast-basket .container .content>svg {
        top: -50px;
    }
    .irancast-basket .container .content .basket-items .row .left {
        flex-wrap: wrap;
        gap: 10px;
    }
    .irancast-basket .container .content .basket-items .row .column {
        gap: 8px;
        margin-bottom: 25px;
    }

    /* success-pay page: */
    .success-pay .container .content .header {
        flex-direction: column;
        gap: 10px;
    }
    .success-pay .container .content .header .ver-line {
        height: 01px;
        width: 50%;
    }
    .success-pay .container .content .header>div {
        text-align: center;
    }
    .success-pay .container .content .details .det {
        width: 100%;
        /*background-color: unset;*/
    }
    .success-pay .container .content .details {
        padding: 16px 8px;
    }
    .success-pay .container {
        padding: 32px 20px;
    }

    .four-o-four-page .pics>div {
        margin-top: 47px;
    }
    .four-o-four-page .pics>div h1 {
        font-size: 47px;
    }



























}

